@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: url("https://picsum.photos/seed/picsum/536/354") no-repeat center
    center fixed;
  background-size: cover;
  position: relative;
  margin: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

#main {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: auto;
}

h1 {
  font-size: 32px;
  color: #007bff;
}

.subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

#img-div {
  margin: 20px 0;
  text-align: center;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10px;
}

#img-caption {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

#tribute-info {
  text-align: left;
  margin-top: 20px;
}

#tribute-info h2 {
  font-size: 22px;
  color: #222;
  margin-bottom: 10px;
}

#tribute-info ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 16px;
}

.more-info {
  font-size: 16px;
  margin-top: 20px;
}

#tribute-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#tribute-link:hover {
  text-decoration: underline;
}
footer {
  margin-top: 10px;
  color: #fff;
}
@media (max-width: 600px) {
  #main {
    padding: 20px;
  }

  h1 {
    font-size: 28px;
  }

  #tribute-info ul {
    font-size: 14px;
  }
}
